<div class="container" style="margin-top:290px">
    <table border="1">
      <tr>
          
          
          <th> Name of the Course</th>
          <th> Duration</th>
          
          <th> Course Director</th>
          <th> Course Associate</th>
          
      </tr>
      <tr>
          <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1449552375208-21012014.JPG">
            Tenders and Contracts</a>
          <td> 	
            21.01.2014 to 31.01.2014</td>
          <td> N. K. Sachan, Dean</td>
       
          <td>Chandan Bhattacharjee</td>
      </tr>
      <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1449552421695-07022014.JPG">
            Public Private Partnership for IRAS Probationers</a>
        <td>17.02.2014 to 21.02.2014</td>
        <td> Ravij Seth, Sr.Professor (Fin.)</td>
        <td>Kishor Mehta</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484554432284-08042013_PPP_IRAS_P.JPG">
            Railway Planning for Traffic officers</a>
        <td>28.04.2015 to 03.05.2015</td>
        <td> Naresh Malhan, Sr.Professor (IT)</td>
        <td>Pradeep Padalia</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1449552828358-12052014.JPG">
            Tenders, Contracts, e-Procurement and e-Auction</a>
        <td>12.05.2014 to 16.05.2014</td>
        
        <td>Ravij Seth, Sr.Professor (Fin.)</td>
        <td>Kishor Mehta</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1449552850991-14072014.JPG">
            Appreciation course IRPS (P) 2012</a>
        <td> 14.07.2014 to 18.07.2014</td>
        
        <td> Rajesh Kumar, Professor (Admin)</td>
        <td>Ajab Singh</td>
    </tr>
    <tr>
        <td> <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1449552885037-21072014.JPG">
            Safety and Disaster Management</a>
        <td> 21.07.2014 to 25.07.2014</td>
        
        <td> Dr. Veena K Verma, Professor (DM)</td>
        <td>Ashwini Srivastava</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1449552905698-08092014.JPG">
            Special course on Catering</a>
        <td> 08.09.2014 to 10.09.2014</td>
       
        <td> </td>
        <td></td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1449552929203-13102014.JPG">
            Appreciation course IRPS (P) 2012</a>
        <td> 13.10.2014 to 17.10.2014</td>
   
        <td> Rajesh Kumar, Professor (Admin)</td>
        <td>Ajab Singh</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1449552975599-07112014.JPG">
            Safety and Disaster Management</a>
        <td> 	
            14.11.2014 to 21.11.2014</td>
        
        <td> Dr. Veena K Verma, Professor (DM)</td>
        <td>Ashwini Srivastava</td>
    </tr>
    <tr>
        <td><a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1449552997127-08122014.JPG">
            Tenders & Contracts</a>
        <td> 08.12.2014 to 12.12.2014</td>
       
        <td> N. K. Sachan, Dean</td>
        <td>Chandan Bhattacharjee</td>
    </tr>
    
  
    
  </table>
  </div>
  
  
  


