<div class="container" style="margin-top:290px;height:50vh">
    <div class="row g-1 justify-content-center">
    <h2 class="text-center my-5">Welcome <span class="text-primary" title={{username}}>{{username}}</span></h2>
        <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center createcourse">
                <button (click)=" viewCourse() " class=" btn btn-primary mt-5">Course
                </button>
            </div>
        </div>

        <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center createcoordinator">
                <button (click)="ViewAppliedCourse()" class=" btn btn-primary mt-5">Applied Courses
                </button>
            </div>
        </div>
       
        <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center createcoordinator">
                <button (click)="ViewCoordinator()" class=" btn btn-primary mt-5">Coordinator
                </button>
            </div>
        </div>
        <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center createcoordinator">
                <button (click)="Faculty()" class=" btn btn-primary mt-5">Faculty
                </button>
            </div>
        </div>
         <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center hostelhq">
                <button (click)="HostelRequestHandler() " class=" btn btn-primary mt-5">Hostel Requests
                </button>
            </div>
        </div>
        <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center courseBg">
                <button (click)="VehicleRequestHandler() " class=" btn btn-primary mt-5">Vehicle Requests
                </button>
            </div>
        </div>
    </div>
</div>



