<div class="container" style="margin-top:250px">

   <p align="center">
       <a href="../../assets/images/1344487586791-IRITM Route Map.pdf">Route Map to IRITM</a>

   </p>

   <p align="center">
    <a href="https://www.google.com/maps/place/Indian+Railways+Institute+of+Transport+Management/@26.8160783,80.8792217,1023m/data=!3m2!1e3!4b1!4m5!3m4!1s0x399bfe93ed34b1f7:0x3a59b7e311348!8m2!3d26.8160735!4d80.8814104?coh=164777&entry=tt&shorturl=1">Google Map</a>

   </p>

   <p align="center">
    <img height="600px"
      width="700px" src="../../assets/images/1444903095475-IRITM Map.jpg" />

</p>
</div>

