<div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-white">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img height="89px" src="../../assets/images/logo.png" alt="Ashoka_Stambh" srcset="" />
            </a>
            <div class="bgtext-color source-serif-heading">
                <p class="h2 fw-bolder">Indian Railways Institute of Transport Management</p>
                <p class="h5 fw-bold">Government of India</p>
            </div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-none d-lg-flex">
                <li class="nav-item">
                    <img style="height: 115px" class="mx-4" src="../../assets/images/IRITM_logo2-removebg.png" alt="Indian RailWay Logo" srcset="" />
                </li>
                <li class="nav-item">
                    <a target="_blank" style="color: blue; text-decoration: underline; font-size: 1.25rem;" class="nav-link navText" href="https://iritmold.indianrailways.gov.in/">Old Website</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <nav class="navbar navbar-expand-lg bg-danger ">
        <div class="container">
            <!-- <a class="navbar-brand text-white" href="#">Home</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active  navText text-white" aria-current="page" routerLink="">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            About
                        </a>
                        <ul class="dropdown-menu">
                            <li> <a rel="noopener" class="dropdown-item" routerLink="AboutUs">
                                    About Us</a>
                            </li>

                            <li><a rel="noopener" class="dropdown-item" [routerLink]="['/getContent']" [queryParams]="{contentId :'0,1,13'}">
                                    Director General</a>
                            </li>

                            <li> <a rel="noopener" class="dropdown-item" routerLink="addl-director-general">
                                    Addl. Director General</a>
                            </li>

                            <li> <a rel="noopener" class="dropdown-item" routerLink="faculty">
                                Faculty</a>
                        </li>

                            <li><a   rel="noopener" class="dropdown-item" routerLink="Mission">
                                    Mission</a>
                            </li>

                            <li> <a rel="noopener" class="dropdown-item" routerLink="vision">
                                    Vision</a>
                            </li>

                            <li><a   rel="noopener" class="dropdown-item" routerLink="campus">
                                    Campus</a>
                            </li>

                            <li><a   rel="noopener" class="dropdown-item" routerLink="map_pdf">
                                IRITM Maps</a>
                        </li>

                            <li> <a rel="noopener" class="dropdown-item" routerLink="quality-policy">
                                    Quality Policy</a>
                            </li>

                            <li><a   rel="noopener" class="dropdown-item" routerLink="photo-gallery">
                                    Photo Gallery</a>
                            </li>

                            <li> <a rel="noopener" class="dropdown-item" routerLink="rti">
                                    RTI</a>
                            </li>

                            <li><a   rel="noopener" class="dropdown-item" routerLink="approach-iritm">
                                    Approach to IRITM</a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Training Information
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a   rel="noopener" class="dropdown-item" routerLink="training-programme-calender" href="#">
                                    Training Programme Calender
                                </a>

                            </li>
                            <li><a   rel="noopener" class="dropdown-item" routerLink="forth-coming-training-courses" href="#">Forth Coming Training
                                    Courses</a></li>
                            <li><a   rel="noopener" class="dropdown-item" routerLink="training-programme-videos"
                                    href="https://eastcoastrail.indianrailways.gov.in/">Training
                                    Programme Videos</a></li>
                            <li><a   rel="noopener" class="dropdown-item" routerLink="training-programme-posters"
                                    href="https://er.indianrailways.gov.in/">Training
                                    Programme Poster</a></li>
                        </ul>


                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Knowledge Center
                        </a>
                        <ul class="dropdown-menu">
                            <!-- <li class="dropdown-submenu"><a rel="noopener" routerLink="library" class="dropdown-item"
                                    href="#">
                                    Library</a>

                                <ul class="dropdown-menu">
                                    <li><a   rel="noopener" class="dropdown-item" href="../../assets/files/e-books/Vol-Book-1/index.html">
                                        List of Books
                                    </a></li>

                                    <li><a   rel="noopener" class="dropdown-item" href="../../assets/files/e-books/Vol-Book-II/index.html">
                                        e-Granthalaya
                                    </a></li>

                                </ul>
                            </li> -->
                            <li class="dropdown-submenu"><a rel="noopener" routerLink="IRS" class="dropdown-item"
                                href="#">
                                Information Related to Services</a>

                            <ul class="dropdown-menu">
                                <li><a   rel="noopener" class="dropdown-item" routerLink="irms" href="#">
                                        IRMS</a></li>
                                <li><a   rel="noopener" class="dropdown-item" routerLink="irts" href="#">
                                        IRTS</a></li>
                                        <li><a   rel="noopener" class="dropdown-item" routerLink="irss" href="#">
                                            IRSS</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="irps" href="#">
                                                IRPS</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu"><a rel="noopener"  class="dropdown-item"
                            href="#">
                            Our Publications</a>

                        <ul class="dropdown-menu">
                            <li><a   rel="noopener" class="dropdown-item" href="#">
                                    Learning Videos</a></li>
                            <li><a   rel="noopener" class="dropdown-item" href="#" routerLink="eBooks">
                                    E-Books</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" href="#">
                                        Year Book(Since 2008)</a></li>
                                        <li><a   rel="noopener" class="dropdown-item" href="#">
                                            Railway Board Budget Speeches(Since 1925)</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" href="#">
                                                Preparation Materials</a></li>
                                                <li><a   rel="noopener" class="dropdown-item" href="#">
                                                    Group C to Group B</a></li>
                        </ul>
                    </li>

                            <li><a rel="noopener"   class="dropdown-item" routerLink="trains-at-a-glance"
                                    href="#">Train at a Glance</a>
                            </li>
                            <li><a rel="noopener"   class="dropdown-item" routerLink="ir-annual-report" href="#">IR
                                    Annual Report & Yearbook</a></li>
                                    <li class="dropdown-submenu"><a rel="noopener" routerLink="railway-system-map" class="dropdown-item" href="#">
                                        Railways System Map</a>
    
                                        <ul class="dropdown-menu">
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="central-railway" href="#">Central Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="west-central-railway" href="#">West Central Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="southern-railway" href="#">Southern Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="south-western-railway" href="#">South Western Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="south-eastern-railway" href="#">South Eastern Railway</a></li>                                            
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="south-east-central-railway" href="#">South East Central Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="south-central-railway" href="#">South Central Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="northern-railway" href="#">Northern Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="north-western-railway" href="#">North Western Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="north-east-frontier-railway" href="#">North East Frontier Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="north-central-railway" href="#">North Central Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="north-eastern-railway" href="#">North Eastern Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="kolkata-metro" href="#">Kolkata Metro</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="konkan-railway" href="#">Konkan Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="eastern-railway" href="#">Eastern Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="east-coast-railway" href="#">East Coast Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="east-central-railway" href="#">East Central Railway</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="dfccil-map" href="#">DFCCIL MAP</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="western-railway" href="#">Western Railway</a></li>
                                        </ul>
                                </li>
                                <li class="dropdown-submenu"><a rel="noopener" routerLink="rolling-stock" class="dropdown-item" href="#">
                                    Rolling Stock (Engineering) Documents</a>

                                    <ul class="dropdown-menu">
                                        <li><a   rel="noopener" class="dropdown-item" routerLink="coaching" href="#">Coaching</a></li>
        
                                     <!--   <ul class="dropdown-submenu">
                                            <li><a   rel="noopener" class="dropdown-item" href="#">LHB Coach</a></li>
                                        </ul>
                                        -->
                                        <li><a   rel="noopener" class="dropdown-item" routerLink="wagon" href="#">Wagon</a></li>
                                        <li><a   rel="noopener" class="dropdown-item" routerLink="metro" href="#">Metro</a></li>
                                        <li><a   rel="noopener" class="dropdown-item" routerLink="locomotive" href="#">Locomotive</a></li>
                                        <li><a   rel="noopener" class="dropdown-item" routerLink="rolling-stock-speed" href="#">Rolling Stock Speed Certificates</a></li>

                                    </ul>
                            
                            </li>
                            <li><a rel="noopener"   class="dropdown-item" href="https://indianrailways.gov.in/railwayboard/view_section.jsp?lang=0&id=0,5,377">
                                    Codes and Manuals</a></li>
                                    <li class="dropdown-submenu"><a rel="noopener" routerLink="vigilance" class="dropdown-item" href="#">
                                        Vigilance</a>
    
                                        <ul class="dropdown-menu">
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="indian-railways-vigilance-manual" href="#">Indian Railways Vigilance Manual 2018
                                                </a></li>
                                            <li><a   rel="noopener" class="dropdown-item" routerLink="cvc-vigilance-manual" href="#">CVC Vigilance Manual</a></li>
                                            
                                        </ul>
                                </li>
                            <li class="dropdown-submenu"><a rel="noopener" routerLink="lawPage" class="dropdown-item" href="#">
                                Law</a>

                                <ul class="dropdown-menu">
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="consumer-protection" href="#">Consumer Protection Law</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="indianrailwayact" href="#">Indian Railways Act, 1989</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="administrativelaw"href="#">Administrative Law</a></li>
                                    <li><a   rel="noopener" class="dropdown-item"routerLink="competitionact" href="#">Competition Act</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="right_to_info" href="#">Right to Information</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="aadharact" href="#">Aadhar Act 2016</a></li>
                                    <li><a   rel="noopener" class="dropdown-item"routerLink="all-india-services" href="#">The All-India Services Act, 1951</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="apprentice" href="#">The Apprentices Act, 1961</a></li>

                                    <li><a   rel="noopener" class="dropdown-item" routerLink="arbitiration" href="#">The Arbitration and Conciliation Act,<br>
                                        1996</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="central_reserve" href="#">The Central Reserve Police Force Act,
                                        <br>1949</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="central_vigilance" href="#">The Central Vigilance Commission Act,
                                        <br>2003</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="citizenship_act" href="#">The Citizenship Act, 1955</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="consumerprotection" href="#">The Consumer Protection (Amendment)
                                        <br>Act, 1991</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="disaster_management" href="#">The Disaster ManagementAct 2005</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="energy_conservation" href="#">The Energy Conservation Act, 2001</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="environment_protection" href="#">The Environment (Protection) Act, 1986</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="GST" href="#">The Goods And Services Tax
                                        <br>(Compensation To states) Act, 2017</a></li>
                                        <li><a   rel="noopener" class="dropdown-item" routerLink="income_tax" href="#">The Income-TaxAct, 1961</a></li>
                                        <li><a   rel="noopener" class="dropdown-item" routerLink="income_evidence" href="#">The Indian Evidence Act, 1872</a></li>
                                        <li><a   rel="noopener" class="dropdown-item" routerLink="indian_penal_code" href="#">The Indian Penal Code</a></li>

                                        <li><a   rel="noopener" class="dropdown-item" routerLink="railway_board_act" href="#">The Indian Railway Board Act, 1905</a></li>
                                        <li><a   rel="noopener" class="dropdown-item" routerLink="IT_act" href="#">The Information Technolog Act 2000</a></li>
                                        
                                      
                                </ul>
                        </li>
                        <li class="dropdown-submenu"><a rel="noopener" routerLink="library" class="dropdown-item" href="#">
                            Commercial</a>

                            <ul class="dropdown-menu">
                                <li><a   rel="noopener" class="dropdown-item" routerLink="commercial" href="#">Reading Material for Sc DCMs for<br> Refresher Course</a></li>
                                <li><a   rel="noopener" class="dropdown-item" routerLink="master_circular" href="#"> Master Circular on Gati Shakti Mufti-<br> Model Cargo Terminal (GCT)-2021 </a></li>
                                <li><a   rel="noopener" class="dropdown-item" routerLink="tariff" href="#">Tariff</a></li>
                                <li><a   rel="noopener" class="dropdown-item" routerLink="indian_railway_commercial" href="#"> Indian Railway Commercial Manual  </a></li>
                                <li><a   rel="noopener" class="dropdown-item" routerLink="auction" href="#"> e-Auction of Commercial Eaming & Non<br> Fare Revenue(NFR) Contracts  </a></li>

                                
                            </ul>
                    </li>                            <li class="dropdown-submenu"><a rel="noopener" routerLink="operating" class="dropdown-item" href="#">
                                Operating</a>

                                <ul class="dropdown-menu">
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="reading-material" href="#">Reading Material on 'Refresher Course <br>for Sr.DCMs and SG/JAG Traffic Officers'</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="operating" href="#">Operating Manual</a></li>
                                    
                                </ul>
                        </li>
                        <li class="dropdown-submenu"><a rel="noopener" routerLink="safety-disaster-management" class="dropdown-item" href="#">
                            Safety & Disaster Management</a>

                            <ul class="dropdown-menu">
                                <li><a   rel="noopener" class="dropdown-item" routerLink="reading-material-disaster" href="#">Reading Material on Disaster Management</a></li>
                                <li><a   rel="noopener" class="dropdown-item" routerLink="accident-manual" href="#">Accedental Manual</a></li>
                                <li><a   rel="noopener" class="dropdown-item" routerLink="general-subsidiary-rules" href="#">General & Subsidiary Rules</a></li>
                                <li><a   rel="noopener" class="dropdown-item" routerLink="zonal-disaster-management-plan" href="#">Zonal Disaster Management Plan</a></li>
                                <li><a   rel="noopener" class="dropdown-item" routerLink="block-working-manual" href="#">Block Working Manual</a></li>

                            </ul>
                    </li>

                    <li class="dropdown-submenu"><a rel="noopener" routerLink="public-private-partnership" class="dropdown-item" href="#">
                        Public Private Partnership</a>

                        <ul class="dropdown-menu">
                            <li><a   rel="noopener" class="dropdown-item" routerLink="guidelines" href="#">Guidelines for Joint Ventures in<br>
                                Infrastructure Sectors</a></li>
                            <li><a   rel="noopener" class="dropdown-item" routerLink="ppp" href="#">PPP vs Conventional cmtracts</a></li>
                            <li><a   rel="noopener" class="dropdown-item" routerLink="ginger" href="#">Ginger Rail Yatri Niwas - A PPP Venture</a></li>
                            <li><a   rel="noopener" class="dropdown-item" routerLink="ppp_challange" href="#">PPPs In Transport Infrastructure The<br>Current Challenges</a></li>
                            <li><a   rel="noopener" class="dropdown-item" routerLink="framework" href="#">Framework for Participative Models of<br>
                                Rail Connectivity and Domestic &
                                <br>Foreign Director Investment</a></li>
                            <li><a   rel="noopener" class="dropdown-item" routerLink="model" href="#">Model Concession Agreement for annuity<br>
                                based project</a></li>

                        </ul>
                </li>
                            <li class="dropdown-submenu"><a rel="noopener" routerLink="non-gazetted" class="dropdown-item" href="#">
                                Non-Gazetted</a>
    
                                <ul class="dropdown-menu">
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="station_master" href="#">Station Master Initial</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="commercial_ticket_clerks" href="#">Commercial - Cum - Ticket Clerks -<br>Commercial Apprentice - First Phase - <br> Initial & Promotion</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="training_module" href="#">Trainig module</a></li>
                                    
    
                                </ul>
                        </li>
                        <li class="dropdown-submenu"><a rel="noopener" routerLink="tenders-contracts" class="dropdown-item" href="#">
                            Tenders and Contracts</a>

                            <ul class="dropdown-menu">
                                <li><a   rel="noopener" class="dropdown-item" routerLink="studey-material" href="#">Study Material on Tenders, Contracts</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="project-reports" href="#">Priject Reports submitted by particpants<br>of course on 'Tenders and Contracts<br>(November 30 to December 4, 2015)-<br> facilitated by Sri Sanjay Tripathi, Sr.<br> Professor (Logistics & IT), IRITM, Lucknow</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="ppts" href="#">PPTs</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="cases" href="#">Cases pertaining to Tenders & Contracts</a></li>


                            </ul>
                        </li>
                            <li class="dropdown-submenu"><a rel="noopener" routerLink="establishment-matters" class="dropdown-item" href="#">
                                Establishment Matters and Vigilance</a>
    
                                <ul class="dropdown-menu">
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="codes-manuals" href="https://indianrailways.gov.in/railwayboard/view_section.jsp?lang=0&id=0,5,377">Codes and Manuals</a></li>
                                    <li><a   rel="noopener" class="dropdown-item" routerLink="important-court-cases" href="#">Important Court Cases</a></li>
                                    
    
                                </ul>
                            </li>

                            <li>
                                <a rel="noopener"   class="dropdown-item" routerLink="miscellaneous" href="#">Miscellaneous</a>
                            </li>
                            <li><a rel="noopener"   class="dropdown-item" routerLink="yoga-physical-fitness" href="#">Yog
                                    and Physical Fitness</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Tender
                        </a>
                        <ul class="dropdown-menu">
                            <li><a rel="noopener"   class="dropdown-item" href="https://gem.gov.in/" >GeM
                                    Portal</a></li>
                            <li><a rel="noopener"   class="dropdown-item"
                                    href="https://www.ireps.gov.in/">IREPS</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            About Probationers
                        </a>
                        <ul class="dropdown-menu">
                            <li><a rel="noopener"   class="dropdown-item"
                                    href="#">IRTS(P)2019(EoL)Batch</a></li>
                            <li><a rel="noopener"   class="dropdown-item" href="#" routerLink="irts-2019-batch">IRTS(P)2019Batch</a>
                            </li>
                            <li><a rel="noopener"   class="dropdown-item" href="#">IRTS(P)2018Batch</a>
                            </li>
                            <li><a rel="noopener"   class="dropdown-item" href="#">IRTS(P)2017Batch</a>
                            </li>
                            <li><a rel="noopener"   class="dropdown-item" href="#">
                                IRTS(P)2016Batch</a></li>
                            <li><a rel="noopener"   class="dropdown-item" href="#">IRTS(P)2015Batch</a></li>
                            <li><a rel="noopener"   class="dropdown-item" href="#">IRTS(P)2014Batch</a></li>
                            <li><a rel="noopener"   class="dropdown-item" href="#">OutsandingIRTS
                                    Probationers</a></li>
                            <li><a rel="noopener"   class="dropdown-item" routerLink="rules-regarding-eol" href="#">
                                    Rules regarding EoL</a></li>
                            <li><a rel="noopener"   class="dropdown-item" routerLink="pre-reads-references" href="#">
                                    Pre reads & References</a></li>
                            <li><a rel="noopener"   class="dropdown-item" routerLink="essential-forms" href="#">
                                    Essentials Forms</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            News & Events
                        </a>
                        <ul class="dropdown-menu">
                            <li><a rel="noopener"   class="dropdown-item" href="#" routerLink="quotation-notices">
                                    Quotation Notices</a></li>
                            <li><a rel="noopener"   class="dropdown-item" href="#">News &
                                    Announcements</a></li>
                            <li><a rel="noopener"   class="dropdown-item" href="#">IRITM Magazine</a></li>
                            <li><a rel="noopener"   class="dropdown-item" href="#" routerLink="vacancies">
                                    Vacancies</a></li>
                            <li><a rel="noopener"   class="dropdown-item" href="#" routerLink="rajbhasha">
                                    Rajbhasha </a></li>
                                    <li class="dropdown-submenu"><a rel="noopener" routerLink="library" class="dropdown-item" href="#">
                                        Archives</a>
    
                                        <ul class="dropdown-menu">
                                            <li><a   rel="noopener" class="dropdown-item" href="#" routerLink="archives-2017">2017</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" href="#" routerLink="archives-2016">2016</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" href="#" routerLink="archives-2015">2015</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" href="#" routerLink="archives-2014">2014</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" href="#" routerLink="archives-2013">2013</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" href="#" routerLink="archives-2012">2012</a></li>
                                            <li><a   rel="noopener" class="dropdown-item" href="#" routerLink="archives-2011">2011</a></li>
                                        </ul>
                                </li>
                                
                            <li><a rel="noopener"   class="dropdown-item" href="#" routerLink="photographs">
                                    Photographs clicked by IRTS Probationers 2011 Batch</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Contact Us
                        </a>
                        <ul class="dropdown-menu">
                            <li><a rel="noopener"   class="dropdown-item" href="#">
                                    Help</a>
                            </li>
                            <li><a rel="noopener"   class="dropdown-item" href="#">Other Railway Sites</a>
                            </li>
                            <li><a rel="noopener"   class="dropdown-item" href="#" routerLink="complaints-committee">Complaints Committee to
                                    Sexual Harassment of women at Workplace</a></li>
                            <li><a rel="noopener"   class="dropdown-item" href="#">
                                    Site Map</a></li>
                            <li><a rel="noopener"   class="dropdown-item" href="#">
                                    Terms & Conditions </a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link navText text-white" [routerLink]="['/DiscussionTopicList']"
                            [queryParams]="{pageNo:1}" [state]="{ searchTopic:''}">DiscussionForum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navText text-white"
                            href="https://egranthalaya.nic.in/">E-Library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navText text-white" *ngIf="username">{{ username }}</a>
                      </li>
                    <ng-container *ngIf="authId=='1'">
                        <li class="nav-item">
                            <a class="nav-link navText text-white" routerLink="adminDashboard">AdminDashboard</a>
                        </li>
                    </ng-container>

                    <ng-container *ngIf="authId=='4'">
                        <li class="nav-item">
                            <a class="nav-link navText text-white" routerLink="userDashboard">UserDashboard</a>
                        </li>
                    </ng-container>

                    <ng-container *ngIf="username">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle navText text-white" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{ uname }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><button (click)="LogoutHandler()" class="dropdown-item">Logout</button></li>
                            </ul>
                        </li>
                    </ng-container>

                    <ng-container *ngIf="!username">
                        <li class="nav-item">
                            <a class="nav-link navText text-white" routerLink="register">Register</a>
                        </li>
                       <!-- <li class="nav-item">
                            <a class="nav-link navText text-white" routerLink="login">Login</a>
                        </li> -->
                    </ng-container>


                </ul>
            </div>
        </div>
    </nav>
</div>



<router-outlet></router-outlet>