<div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-white">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img height="89px" src="../../assets/images/logo.png" alt="Ashoka_Stambh" srcset="" />
            </a>
            <div class=" bgtext-color source-serif-heading">
                <p class="h2 fw-bolder">Indian Railways Institue of Transport Management</p>
                <p class="h5 fw-bold"> Government of India</p>

            </div>
            <!-- <img style="height: 89px" class="mx-4" src="../../assets/images/IRITM_logo2-removebg.png"
            alt="Indian RailWay Logo" srcset="" /> -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-none d-lg-flex">

                <li class="nav-item">
                    <img style="height: 115px" class="mx-4" src="../../assets/images/IRITM_logo2-removebg.png"
                        alt="Indian RailWay Logo" srcset="" />
                </li>

            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-danger ">
        <div class="container">
            <!-- <a class="navbar-brand text-white" href="#">Home</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active  navText text-white" aria-current="page" routerLink="">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            About
                        </a>
                        <ul class="dropdown-menu">
                            <li> rel="noopener" class="dropdown-item" routerLink="AboutUs">
                                    About Us</a>
                            </li>

                            <li><a target="_blank" rel="noopener" class="dropdown-item" routerLink="Mission">
                                    Mission</a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Training Information
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a target="_blank" rel="noopener" class="dropdown-item" href="#">
                                    Training Programme Calender
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a target="_blank" rel="noopener" class="dropdown-item" href="#">Sub Item 1</a>
                                    </li>
                                    <li><a target="_blank" rel="noopener" class="dropdown-item" href="#">Sub Item 2</a>
                                    </li>
                                    <li><a target="_blank" rel="noopener" class="dropdown-item" href="#">Sub Item 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a target="_blank" rel="noopener" class="dropdown-item" href="#">Fourth Coming Training
                                    Courses</a></li>
                            <li><a target="_blank" rel="noopener" class="dropdown-item"
                                    href="https://eastcoastrail.indianrailways.gov.in/">Training
                                    Programme Videos</a></li>
                            <li><a target="_blank" rel="noopener" class="dropdown-item"
                                    href="https://er.indianrailways.gov.in/">Training
                                    Programme Poster</a></li>
                        </ul>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Knowledge Center
                        </a>
                        <ul class="dropdown-menu">
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    Library</a>
                            </li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Train at a Glance</a>
                            </li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">IR
                                    Annual Report & Yearbook</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Railways System Map</a>
                            </li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Rolling Stock
                                    Engineering Documents</a>
                            </li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    Codes and Manuals</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Vigilance</a></li>

                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Law</a>
                            </li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Commercial</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Operting</a>
                            </li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Safety % Disaster
                                    Management</a></li>

                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Public Private
                                    Partnership</a>
                            </li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Non-Gazetted</a></li>

                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Tenders & Contracts</a>
                            </li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Establishments Matters
                                    and Vigilance</a></li>

                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Miscellaneous</a>
                            </li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Yog
                                    and Physical Fitness</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Tender
                        </a>
                        <ul class="dropdown-menu">
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="https://gem.gov.in/">GeM
                                    Portal</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item"
                                    href="https://www.ireps.gov.in/">IREPS</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            About Probationers
                        </a>
                        <ul class="dropdown-menu">
                            <li><a rel="noopener" target="_blank" class="dropdown-item"
                                    href="#">IRTS(P)2019(EoL)Batch</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">IRTS(P)2019Batch</a>
                            </li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">BLW
                                    Varanasi</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">IRTS(P)2018Batch</a>
                            </li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">IRTS(P)2017Batch</a>
                            </li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    MRVC2016Batch</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">2015Batch</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">2014Batch</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">OutsandingIRTS
                                    Probationers</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    Rules regarding EoL</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    Pre reads & References</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    Essentials Forms</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            News & Events
                        </a>
                        <ul class="dropdown-menu">
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    Quotation Notices</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">News &
                                    Announcements</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">IRITM Magazine</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    Vacancies</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    Rajbhasha </a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    Archives</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    Photographs clicked by IRTS Probationers 2011 Batch</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navText text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Contact Us
                        </a>
                        <ul class="dropdown-menu">
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    Help</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Other Railway Sites</a>
                            </li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">Complaints Committee to
                                    Sexual Harassment of women at Workplace</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    Site Map</a></li>
                            <li><a rel="noopener" target="_blank" class="dropdown-item" href="#">
                                    Terms & Conditions </a></li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link navText text-white" [routerLink]="['/DiscussionTopicList']"
                            [queryParams]="{pageNo:1}" [state]="{ searchTopic:''}">DiscussionForum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navText text-white"
                            href="https://iritm.indianrailways.gov.in/IRITM_new/BookDetails.jsp">Books</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link navText text-white" *ngIf="username">{{ username }}</a>
                      </li> -->
                    <ng-container *ngIf="authId=='1'">
                        <li class="nav-item">
                            <a class="nav-link navText text-white" routerLink="adminDashboard">AdminDashboard</a>
                        </li>
                    </ng-container>

                    <ng-container *ngIf="authId=='4'">
                        <li class="nav-item">
                            <a class="nav-link navText text-white" routerLink="userDashBoard">UserDashboard</a>
                        </li>
                    </ng-container>

                    <ng-container *ngIf="username">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle navText text-white" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{ uname }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><button (click)="LogoutHandler()" class="dropdown-item">Logout</button></li>
                            </ul>
                        </li>
                    </ng-container>

                    <ng-container *ngIf="!username">
                        <li class="nav-item">
                            <a class="nav-link navText text-white" routerLink="register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navText text-white" routerLink="login">Login</a>
                        </li>
                    </ng-container>


                </ul>
            </div>
        </div>
    </nav>
</div>



<router-outlet></router-outlet>