<div class="container" style="margin-top:290px">
    <p><b>Reading Material o­n Disaster Management</b></p>
    <p><a href="https://iritmold.indianrailways.gov.in/uploads/files/1296625965021-Disaster%20Management%20in%20India%20-%20A%20Status%20Report.pdf">Disaster Management in India - A Status Report</a></p>
    <p><a href="https://iritmold.indianrailways.gov.in/uploads/files/1639025849535-Chapter_6_Disaster_Management.pdf">Disaster Management in Indian Railways</a></p>
    <p><a href="https://iritmold.indianrailways.gov.in/uploads/files/1639025563786-14022020112744%20DM%20PLan-2019.pdf">Disaster Management Plan of Indian Railways</a></p>
</div>