<p>vehicle works!</p>
<div class="container mb-4" style="margin-top:190px ;">
    <h1 class="my-3">Book Vehicle</h1>
    <form [formGroup]="vehicleform" class="row g-3" (ngSubmit)=" ApplyVehicleHandler()">
        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Arrival-Date Time</label>
            <input formControlName="arrivaldatetime" type="datetime-local" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-3">
            <label for="inputState" class="form-label"> Arrival By</label>
            <select formControlName="arrivalby" (change)=" ArrivalTypeHandler($event)" class="form-select">
                <option value="Train">Train</option>
                <option value="Airport">Air Port</option>
                <option value="ByRoad">By Road</option>
            </select>
        </div>
       <ng-container  *ngIf=" selectedArrivalBy === 'Train'">
        <div class="col-md-3">
            <label for="inputState" class="form-label"> Station</label>
            <select formControlName="arrivalstation" class="form-select">
                <option value="LKO">LKO</option>
                <option value="LJN">LJN</option>
                <option value="ASH">ASH</option>
                <option value="BNZ">BNZ</option>
            </select>
        </div>
       
       </ng-container>
       <div class="col-md-3">
        <label for="inputPassword4" class="form-label">Arrival Train No </label>
        <input formControlName="arrivalmodeno" type="text" class="form-control" id="inputPassword4">
    </div>
        <div class="col-md-3">
            <label for="inputPassword4" class="form-label">Departure-Date Time </label>
            <input formControlName="departuredatetime" type="datetime-local" class="form-control" id="inputPassword4">
        </div>

        <div class="col-md-3">
            <label for="inputState" class="form-label"> Departure By </label>
            <select formControlName="departureby" (change)="DeptTypeHandler($event)" class="form-select">
                <option value="Train">Train</option>
                <option value="Airport">Air Port</option>
                <option value="ByRoad">By Road</option>
            </select>
        </div>
       <ng-container *ngIf="selectedDeptlBy === 'Train'">
        <div class="col-md-3">
            <label for="inputState" class="form-label"> Station</label>
            <select formControlName="departurestation" class="form-select">

                <option value="LKO">LKO</option>
                <option value="LJN">LJN</option>
                <option value="ASH">ASH</option>
                <option value="BNZ">BNZ</option>
            </select>
        </div>
       </ng-container>
        <div class="col-md-3">
            <label for="inputPassword4" class="form-label">Departure Train / Flight No </label>
            <input formControlName="departuremodeno" type="text" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-3">
            <label for="inputCity" class="form-label">Adults</label>
            <select formControlName="adults" class="form-select">

                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="inputState" class="form-label">Childrens</label>
            <select formControlName="children" class="form-select">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Book</button>
        </div>
    </form>
</div>