<p>vehicle works!</p>
<div class="container mb-4" style="margin-top:190px ;">
    <h1 class="my-3">Book Vehicle</h1> 
    <form class="row g-3">
        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Arrival-Date</label>
            <input type="date" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Arrival-Time</label>
            <input type="time" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-3">
            <label for="inputState" class="form-label"> Arrival By</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>Train</option>
                <option>Air Port</option>
                <option>By Road</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="inputState" class="form-label"> Station</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>LKO</option>
                <option>LJN</option>
                <option>ASH</option>
                <option>BNZ</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="inputPassword4" class="form-label">Departure-Date </label>
            <input type="date" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-3">
            <label for="inputPassword4" class="form-label">Departure-Time </label>
            <input type="time" class="form-control" id="inputPassword4">
        </div>

        <div class="col-md-3">
            <label for="inputState" class="form-label"> Departure By </label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>Train</option>
                <option>Air Port</option>
                <option>By Road</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="inputState" class="form-label"> Station</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>LKO</option>
                <option>LJN</option>
                <option>ASH</option>
                <option>BNZ</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="inputCity" class="form-label">Adults</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="inputState" class="form-label">Childrens</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Book</button>
        </div>
    </form>
</div>