<div class="container" style="margin-top:290px">
    <table border="1">
      <tr>
          
          
          <th> Name of the Course</th>
          <th> From</th>
          <th> To</th>
          <th> Course Director</th>
          <th> Course Associate</th>
      </tr>
      <tr>
          <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484554432284-08042013_PPP_IRAS_P.JPG">
           Integrated Training Course (OperatingBackground)</a>
          <td> 07.01.13</td>
          <td> 24.01.13</td>
          <td> Shri A.K. Pandey</td>
          <td>Pawan Sharma</td>
      </tr>
      <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484554432284-08042013_PPP_IRAS_P.JPG">
            Safety & Disaster Management</a>
        <td>28.01.13</td>
        <td> 01.02.13</td>
        <td> Dr. Veena K. Verma</td>
        <td>Ashwini Srivastava</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484554432284-08042013_PPP_IRAS_P.JPG">
            Special course on Tenders, Contracts, e-Procurement and e-Auction</a>
        <td> 18.02.13</td>
        <td> 22.02.13</td>
        <td> Dr. Kalpana Dube</td>
        <td>Kishore Mehta</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484554432284-08042013_PPP_IRAS_P.JPG">
            Safety & Disaster Management</a>
        <td> 01.04.13</td>
        <td> 05.04.13</td>
        <td> Dr. Veena K. Verma</td>
        <td>Ashwini Srivastava</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484554554984-08042013_PPP_IRAS_P.JPG">
            PPP in Infrastructure Sector for IRAS Probationers</a>
        <td> 08.04.13</td>
        <td> 12.04.13</td>
        <td> Dr. Kalpana Dube</td>
        <td>Kishore Mehta</td>
    </tr>
    <tr>
        <td> <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484554659031-15042013_appr_IRSE_P.JPG">
            Appreciation Course for IRSE Probationers</a>
        <td> 15.04.13</td>
        <td> 19.04.13</td>
        <td> Shri Rajesh Kumar</td>
        <td>Ajab Sigh</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484554704541-22042013_IRSSE_10.JPG">
            Appreciation Course for IRSSE Probationers</a>
        <td> 22.04.13</td>
        <td> 26.04.13</td>
        <td> Shri Rajesh Kumar</td>
        <td>Ajab Singh</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484554737688-29042013_Refresher.JPG">
            Refresher Course for JA Grade Traffic Officer</a>
        <td> 29.04.13</td>
        <td> 04.05.13</td>
        <td> Shri Naresh Malhan</td>
        <td>Pradeep Padalia</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484554758748-06052013_PPP_Infrastructure.JPG">
            PPP in Infrastructure Sector</a>
        <td> 	
            06.05.13</td>
        <td> 10.05.13</td>
        <td> Shri Ravij Seth</td>
        <td>Kishore Mehta</td>
    </tr>
    <tr>
        <td><a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484554790283-17062013_IT_Security.JPG">
            IT Security & e-Governance</a>
        <td> 17.06.13</td>
        <td> 21.06.13</td>
        <td> Shri Naresh Malhan</td>
        <td>Pradeep Padalia</td>
    </tr>
    <tr>
                  
        <td>Integrated Training Course (Commercial Background)</td>    
        <td>24.06.13</td>
        <td> 12.07.13</td>
        <td> Shri A.K. Pandey</td>
        <td>Pawan Sharma</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484555024192-01072013_Appr_IRSE_P_11.JPG">
            Appreciation Course for IRSE (P)</a>
        <td>01.07.13</td>
        <td>05.07.13</td>
        <td> Shri Rajesh Kumar</td>
        <td>	
            Ajab Sigh</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484554970328-29072013_Traffic_Plg.JPG">
            Traffic Planning</a>
        <td> 29.07.13</td>
        <td> 02.08.13</td>
        <td> Naresh Malhan</td>
        <td>Pradeep Padalia</td>
    </tr>
    <tr>
                  
        <td>Appreciation Course for IRPS Probationers</td>    
        <td>05.08.13</td>
        <td> 09.08.13</td>
        <td> Shri Rajesh Kumar</td>
        <td>Ajab Sigh</td>
    </tr><tr>
                  
        <td>Appreciation Course for IRSEE Probationers</td>    
        <td>12.08.13</td>
        <td> 16.08.13</td>
        <td> Shri Rajesh Kumar</td>
        <td>Ajab Sigh</td>
    </tr><tr>
                  
        <td>Appreciation Course for IRSME Probationers</td>    
        <td>19.08.13</td>
        <td> 23.08.13</td>
        <td> Shri Rajesh Kumar</td>
        <td>Ajab Sigh</td>
    </tr><tr>
                  
        <td>Appreciation Course for NIFM Probationers 2011</td>    
        <td>09.09.13</td>
        <td> 13.09.13</td>
        <td>Shri Rajesh Kumar</td>
        <td>Ajab Sigh</td>
    </tr><tr>
                  
        <td>Training of DFCCIL officers</td>    
        <td>30.09.13</td>
        <td> 25.10.13</td>
        <td> Shri Rajesh Kumar</td>
        <td>Ajab Sigh</td>
    </tr><tr>
                  
        <td>Logistics and SCM</td>    
        <td>21.10.13</td>
        <td> 25.10.13</td>
        <td> Shri Naresh Malhan</td>
        <td>Pradeep Padalia</td>
    </tr><tr>
                  
        <td>Appreciation Course for IRSSE Probationers</td>    
        <td>04.11.13</td>
        <td> 08.11.13</td>
        <td> Shri Rajesh Kumar</td>
        <td>Ajab Sigh</td>
    </tr>
    <tr>
                  
        <td>Training of CONCOR officers</td>    
        <td>18.11.13</td>
        <td> 29.11.13</td>
        <td> Shri Rajesh Kumar</td>
        <td>Ajab Sigh</td>
    </tr>
    <tr>
                  
        <td>Safety & Disaster Management</td>    
        <td>25.11.13</td>
        <td> 29.11.13</td>
        <td>Dr. Veena K. Verma</td>
        <td>Ashwini Srivastava</td>
    </tr>
    
  </table>
  </div>
  
  
  

