<div class="container" style="margin-top:290px">
    <p><b>Reading Material for Sr. DCMs for Refresher Course</b></p>
    <p><a href="https://iritmold.indianrailways.gov.in/uploads/files/1315294169042-Freight%20incentive%20Scheme.pdf">Freight Incentive Scheme - Policy Guidelines</a></p>
    <p><a href="https://iritmold.indianrailways.gov.in/uploads/files/1639023910703-1598440518684-Catering%20Policy%202017%20(Hindi-English).pdf">New Catering Policy, 2017</a></p>
    <p><a href="https://iritmold.indianrailways.gov.in/uploads/files/1315294396849-Rating%20in%20Railways.pdf">Rating in Railways - Sri Indra Ghosh, COM/NR</a></p>
    <p><a href="https://iritmold.indianrailways.gov.in/uploads/files/1315294817701-Costing%20and%20Pricing%20Issues%20in%20Transport%20Sector.pdf">Costing and Pricing Issues in Transport Sector - Sri Indra Ghosh, COM/NR</a></p>
    <p><a href="https://iritmold.indianrailways.gov.in/uploads/files/1639481644115-1449739927809-FM-07.pdf">Automobile Freight Train operator (AFTO) Scheme - Freight Marketing Circular No. 07 of 2014  </a></p>
    <p><a href="https://iritmold.indianrailways.gov.in/uploads/files/1639481658366-1449740082853-Automobile%20Freight%20Train%20Operator%20Scheme.pdf">Automobile Freight Train Operator Scheme_ppt</a></p>
    </div>