<div class="container" style="margin-top: 250px; height: 30vh;">
  <h1 class=" text-justify text-center mx-1 fw-bold source-serif-heading text-danger">About IRITM </h1>
  <strong>The Indian Railways Institute of Transport Management (IRITM)</strong>, Lucknow was set up in the year 2003 to train Probationary officers 
  joining the Indian Railway Traffic Service. IRITM also conducts several specialized 
  dcourses for in-service officers to equip them to deal with the changing business scenario in India and consequent changes in the transport sector. Some of these courses are in the areas of Supply Chain Management, Logistics, Information Technology, Public Private Partnership, Infrastructure Development & Project Management.
  <br />
  <p class="mt-2">
    In Eighteen years of its inception, IRITM has evolved as one of the well-acknowledged 
    Centralised Training Institutes (CTI) with state-of-the-art training facilities. It is well equipped with a very good library, FOIS/PRS/UTS online laboratories and a well-furnished hostel with messing facilities. Apart from imparting training to IRTS Probationary officers, Mid career and special 
    courses are also organized for in-service Railway Officers from Jr Scale to HAG level.
  </p>
  <span>Special courses on Computer based Railway Services like Passenger Reservation System (PRS), Freight Operations Information Services (FOIS) are also organized on regular basis.
    IRITM is situated in a sprawling, lush green 71 acre campus on the outskirts of Lucknow. The campus boasts of a wide variety of flora and fauna, including peacocks and beautiful migratory birds roaming freely on the campus.
  </span>
</div>




  

