<div class="container">
  <h1 class=" text-justify text-center mx-1 fw-bold source-serif-heading text-danger">About IRITM </h1>
  <strong>The Indian Railways Institute of Transport Management (IRITM)</strong> has been set up by the Minstry of
  Railways in August 1999 as a centralized training institute with the objective of imparting a a focused training
  to the officer of the Traffic Department of
  Indian Railways, The objetive was to bring about an attitudinal change in the young officers, orienting them for
  a positive response to Railway's transformation from a production-oriented to a customer-oriented organization
  in the years following the economic.
  <br />
  <p class="mt-2">
      <strong>IRITM</strong> started functioning in August 1999 under the supervision of ED/PT/RDSO from a camp
      office
      located in RDSO.
      In August 2000, Railway Board sanctioned the operation of the post of Director , IRITM, Professor
      (Training), 2
      post in Group B and 7 posts in Group C&D
  </p>
  <span class="fw-bold">The Hon'ble Prime Minster, Shri Atal Behari Vajpayee, laid the foundation stone of the
      IRITM campus on
      31th January 2001 and also dedicated the Institute
      to the Nation on 21st May 2003
  </span>
</div>




  

