<div class="container mb-4" style="margin-top:190px ;height:70vh">

    <form [formGroup]="hostelform" (ngSubmit)="ApplyHostelHandler()" class="row g-3 mt-5">
        <h3 class="text-center  mt-5">Hostel Booking Request</h3>
        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Arrival-Date Time</label>
            <input formControlName="arrivaldatetime" type="datetime-local" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-3">
            <label for="arrivalBy" class="form-label">Arrival By</label>
            <select formControlName="arrivalby" id="arrivalBy" class="form-select">

                <option value="Train">Train</option>
                <option value="AirPort">Airport</option>
                <option value="By Road">By Road</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="inputPassword4" class="form-label">Departure-Date Time </label>
            <input type="datetime-local" formControlName="departuredatetime" class="form-control" id="inputPassword4">
        </div>


        <div class="col-md-3">
            <label for="inputState" class="form-label"> Departure By </label>
            <select formControlName="departureby" id="inputState" class="form-select">

                <option value="Train">Train</option>
                <option value="AirPort">Airport</option>
                <option value="By Road">By Road</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="inputCity" class="form-label">Adults</label>
            <select formControlName="adults" id="inputState" class="form-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="col-md-3">
            <label for="inputState" class="form-label">Children</label>
            <select formControlName="children" id="inputState" class="form-select">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Book</button>
        </div>
    </form>


    <div class="row mt-3">
      <h3 class="text-center">  Hostel Requests</h3>
        <table class="table table-bordered">
            <thead class="table-primary">
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Arrival Date Time</th>
                <th scope="col">Arival By</th>
                <th scope="col">Departure Date Time</th>
                <th scope="col">Departure By</th>
                <th scope="col">Adults</th>
                <th scope="col">Children</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor ="let userreq of hostelReq;let i = index" >
                <th scope="row">{{ i + 1 }}</th>
                <td>{{userreq.arrivaldatetime|date}}</td>
                <td>{{userreq.arrivalby}}</td>
                <td>{{userreq.departuredatetime|date}}</td>
                <td>{{userreq.departureby}}</td>
                <td>{{userreq.adults}}</td>
                <td>{{userreq.children}}</td>
              </tr>
             
            </tbody>
          </table>
    </div>
</div>