<p>applied-course works!</p>
<div class="container" style="margin-top:190px;height: 150vh;">
    <h4 class="text-center">Apply Course</h4>
    <form [formGroup]="courseapplyform" (ngSubmit)="courseapplyHandler()"  >
        <div class="row">
            <div class="col-md-3">
                <label for="courseapply">Select Course</label>
                <select formControlName="courseid" class="form-control">
                    <option selected>Please Select Option</option>
                    <option *ngFor="let courses of scheduleCourse" value={{courses.courseId}}>{{courses.courseName}}-{{courses.courseCode}}</option>
                </select>
            </div>
            <div class="col-md-3 mt-4 ">
                <button class="btn btn-primary">Apply</button>
            </div>
        </div>
    </form>
    <div class="row mt-3">
        <table class="table table-bordered">
            <thead>
                <tr class="table-primary">
                    <th scope="col">S.No</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Applied Date</th>
                    <th scope="col">Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appliescourse of usercourses ;let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{appliescourse.coursename}}</td>
                    <td>{{appliescourse.appileddate |date}}</td>
                    <td>{{appliescourse.duration}}</td>

                </tr>
            </tbody>
        </table>
    </div>


</div>