<div style="margin-top: 170px;">
    <div class="parallaxMain"></div>
    <div class="Main-Title">
        <p class="main-title-text">IRITM</p>
    </div>
    <div id="iritmabout" class="container p-5">
        <div class="mx-sm-2 my-3 text-center ">


            <a href="../../assets/images/ISO_Certificate_21001.png" class="mx-5 mb-1"> <img height="550px" width="550px"
                    src="../../assets/images/ISO_Certificate_21001.png" /></a>



            <a href="../../assets/images/CBC Certificate.jpg" class="mx-1 mb-1"> <img height="550px" width="550px"
                    src="../../assets/images/CBC Certificate.jpg" /></a>





        </div>

        <!-- CourseComponent is Define -->
        <app-courses></app-courses>

    </div>
    <div class="parallax"></div>
    <div class="container bg-white">
        <div class="row p-4">
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-header bg-danger text-white source-serif-heading h4">
                        Photo Gallery
                    </div>
                    <div class="mx-sm-2 my-3 text-center " style="width:480px ;">
                        <a href="../../assets/images/DSC_2260.JPG" class="mx-1 mb-1"> <img height="150px" width="150px"
                                src="../../assets/images/DSC_2260.JPG" /></a>
                        <a href="../../assets/images/DSC_2541.JPG" class="mx-1 mb-1"> <img height="150px" width="150px"
                                src="../../assets/images/DSC_2541.JPG" /></a>
                        <a href="../../assets/images/IMG_0235.JPG" class="mx-1 mb-1"> <img height="150px" width="150px"
                                src="../../assets/images/IMG_0235.JPG" /></a>
                        <a href="../../assets/images/library (2).jpg" class="mx-1 mt-1"> <img height="150px"
                                width="150px" src="../../assets/images/library (2).jpg" /></a>
                        <a href="../../assets/images/IMG_6581.JPG" class="mx-1 mt-1"> <img height="150px" width="150px"
                                src="../../assets/images/IMG_6581.JPG" /></a>
                        <a href="../../assets/images/auditorium.jpg" class="mx-1 mt-1"> <img height="150px"
                                width="150px" src="../../assets/images/auditorium.jpg" /></a>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header bg-danger text-white source-serif-heading h4">
                        Video Gallery
                    </div>
                    <div class="card-body">
                        <swiper-container slides-per-view="1" grid-rows="1" grab-cursor="true" space-between="5"
                            autoplay="true" loop="true">
                            <swiper-slide>
                                <video width="590" height="295" autoplay controls loop muted>
                                    <source src="../../assets/images/main.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </swiper-slide>
                            <swiper-slide>
                                <video width="590" height="295" autoplay controls loop muted>
                                    <source src="../../assets/images/hostel.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </swiper-slide>
                        </swiper-container>



                    </div>
                </div>
            </div>
        </div>
        <div class="row  my-3">
            <h1 class="text-center my-4 source-serif-heading linear-text-gradient fw-bolder">Our Social Media Feeds</h1>
            <div class="row p-4">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Instagram</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Facebook</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Twitter</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallaxOne"></div>
    <div class="container bg-white">
        <div class="row  my-3">
            <h2 class="text-center my-4 source-serif-heading linear-text-gradient fw-bolder">Testimonials</h2>
            <div class="row p-4">
                <swiper-container slides-per-view="2" space-between="30" autoplay="true" grab-cursor="true"
                    pagination="true" loop="true" navigation="false">
                    <swiper-slide *ngFor="let feedbacks of   feedbackdetails">
                        <div>
                            <div class="card">
                                <div class="card-body text-center">

                                    <ngb-rating class="h3 text-warning" [max]="5" [rate]="feedbacks.rating"
                                        [readonly]="true" />

                                    <p class="card-text">{{feedbacks.comment}}</p>
                                    <h5 class="card-title text-center text-primary">{{feedbacks.userid}}</h5>

                                </div>
                            </div>
                        </div>
                    </swiper-slide>
                </swiper-container>

            </div>
        </div>
    </div>
    <div class="parallaxTwo"></div>
    <div class="container bg-white">
        <div class="row py-2">
            <swiper-container slides-per-view="4" grab-cursor="true" autoplay="true" loop="true">
                <swiper-slide>
                    <div>
                        <img src="../../assets/images/cris-logo.png" alt="cris" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div>
                        <img src="https://cdnbbsr.s3waas.gov.in/s316026d60ff9b54410b3435b403afd226/uploads/bfi_thumb/2019032217-q16g867drg9vnyo2n1kiptb10wi2gw8vmd6lw3rht4.png"
                            alt="cris" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div>
                        <img src="../../assets/images/IndianRailway_logo.gif" alt="cris" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div>
                        <img src="https://cdnbbsr.s3waas.gov.in/s316026d60ff9b54410b3435b403afd226/uploads/bfi_thumb/2019041050-q16g7yoo8rzl32yzuybi5v7c9tj4rbf0xbyq1w2n6w.png"
                            alt="cris" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div>
                        <img src="https://cdnbbsr.s3waas.gov.in/s316026d60ff9b54410b3435b403afd226/uploads/bfi_thumb/2019052222-q16g7vv5o9vq4933bf3mgdwyhnx1483twy09m26tpk.png"
                            alt="cris" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div>
                        <img src="   https://cdnbbsr.s3waas.gov.in/s316026d60ff9b54410b3435b403afd226/uploads/bfi_thumb/2019052265-q16g7uxbhfufsn4ggwozvw5hwa1nwj03ktcs4s87vs.png"
                            alt="cris" />
                    </div>
                </swiper-slide>


            </swiper-container>

        </div>
    </div>