<div style="margin-top: 160px;">
    <div class="parallaxMain"></div>
    <div class="Main-Title">
        <p>IRITM</p>
    </div>
    <div class="container p-5">
        <h1 class=" text-justify text-center mx-1 fw-bold source-serif-heading">About IRITM </h1>
        <strong>The Indian Railways Institute of Transport Management (IRITM)</strong> has been set up by the Minstry of
        Railways in August 1999 as a centralized training institute with the objective of imparting a a focused training
        to the officer of the Traffic Department of
        Indian Railways, The objetive was to bring about an attitudinal change in the young officers, orienting them for
        a positive response to Railway's transformation from a production-oriented to a customer-oriented organization
        in the years following the economic liberalization.
        <br />
        <p class="mt-2">
            <strong>IRITM</strong> started functioning in August 1999 under the supervision of ED/PT/RDSO from a camp
            office
            located in RDSO.
            In August 2000, Railway Board sanctioned the operation of the post of Director , IRITM, Professor
            (Training), 2
            post in Group B and 7 posts in Group C&D
        </p>
        <span class="fw-bold">The Hon'ble Prime Minster, Shri Atal Behari Vajpayee, laid the foundation stone of the
            IRITM campus on
            31th January 2001 and also dedicated the Institute
            to the Nation on 21st May 2003
        </span>
        <div class="d-grid gap-2 d-md-block text-center my-4">
            <button class="btn btn-danger" type="button">More About IRITM</button>
        </div>
        <!-- CourseComponent is Define -->
        <app-courses></app-courses>

    </div>
    <div class="parallax"></div>
    <div class="container bg-white">
        <div class="row p-4">
            <div class="col-6">
                <div class="card">
                    <div class="card-header bg-danger text-white source-serif-heading  h4">
                        Photo Gallary
                    </div>
                    <div class="card-body p-4">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header bg-danger text-white source-serif-heading h4">
                        Video Gallery
                    </div>
                    <div class="card-body p-4">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row  my-3">
            <h3 class="text-center my-4 source-serif-heading">Our Social Media Feeds</h3>
            <div class="row p-4">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Instagram</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Facebook</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Twitter</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax"></div>
    <div class="container bg-white">
        <div class="row  my-3">
            <h3 class="text-center my-4 source-serif-heading">Testimonials</h3>
            <div class="row p-4">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">User1</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">User2</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">User3</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"></div>
</div>