<div style="margin-top: 160px;">
    <div class="parallaxMain"></div>
    <div class="Main-Title">
        <p class="main-title-text">IRITM</p>
    </div>
    <div class="container p-5">
        <h1 class=" text-justify text-center mx-1 fw-bold source-serif-heading text-danger">About IRITM </h1>
        <strong>The Indian Railways Institute of Transport Management (IRITM)</strong> has been set up by the Minstry of
        Railways in August 1999 as a centralized training institute with the objective of imparting a a focused training
        to the officer of the Traffic Department of
        Indian Railways, The objetive was to bring about an attitudinal change in the young officers, orienting them for
        a positive response to Railway's transformation from a production-oriented to a customer-oriented organization
        in the years following the economic liberalization.
        <br />
        <p class="mt-2">
            <strong>IRITM</strong> started functioning in August 1999 under the supervision of ED/PT/RDSO from a camp
            office
            located in RDSO.
            In August 2000, Railway Board sanctioned the operation of the post of Director , IRITM, Professor
            (Training), 2
            post in Group B and 7 posts in Group C&D
        </p>
        <span class="fw-bold">The Hon'ble Prime Minster, Shri Atal Behari Vajpayee, laid the foundation stone of the
            IRITM campus on
            31th January 2001 and also dedicated the Institute
            to the Nation on 21st May 2003
        </span>
        <div class="d-grid gap-2 d-md-block text-center my-4">
            <button class="btn btn-danger" type="button">More About IRITM</button>
        </div>
        <!-- CourseComponent is Define -->
        <app-courses></app-courses>

    </div>
    <div class="parallax"></div>
    <div class="container bg-white">
        <div class="row p-4">
            <div class="col-5">
                <div class="card">
                    <div class="card-header bg-danger text-white source-serif-heading h4">
                        Photo Gallary
                    </div>
                    <div class="mx-2 my-3 text-center " style="width:480px ;">
                        <a href="../../assets/images/DSC_2260.JPG" class="mx-1 mb-1"> <img height="150px" width="150px"
                                src="../../assets/images/DSC_2260.JPG" /></a>
                        <a href="../../assets/images/DSC_2541.JPG" class="mx-1 mb-1"> <img height="150px" width="150px"
                                src="../../assets/images/DSC_2541.JPG" /></a>
                        <a href="../../assets/images/IMG_0235.JPG" class="mx-1 mb-1"> <img height="150px" width="150px"
                                src="../../assets/images/IMG_0235.JPG" /></a>
                        <a href="../../assets/images/library (2).jpg" class="mx-1 mt-1"> <img height="150px"
                                width="150px" src="../../assets/images/library (2).jpg" /></a>
                        <a href="../../assets/images/IMG_6581.JPG" class="mx-1 mt-1"> <img height="150px" width="150px"
                                src="../../assets/images/IMG_6581.JPG" /></a>
                        <a href="../../assets/images/auditorium.jpg" class="mx-1 mt-1"> <img height="150px"
                                width="150px" src="../../assets/images/auditorium.jpg" /></a>








                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header bg-danger text-white source-serif-heading h4">
                        Video Gallery
                    </div>
                    <div class="card-body">
                        <swiper-container slides-per-view="1" space-between="5" autoplay="true" loop="true">
                            <swiper-slide>
                                <video width="590" height="295" autoplay controls loop muted>
                                    <source src="../../assets/images/main.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </swiper-slide>
                            <swiper-slide>
                                <video width="590" height="295" autoplay controls loop muted>
                                    <source src="../../assets/images/hostel.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </swiper-slide>
                        </swiper-container>



                    </div>
                </div>
            </div>
        </div>
        <div class="row  my-3">
            <h1 class="text-center my-4 source-serif-heading linear-text-gradient fw-bolder">Our Social Media Feeds</h1>
            <div class="row p-4">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Instagram</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Facebook</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Twitter</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallaxOne"></div>
    <div class="container bg-white">
        <div class="row  my-3">
            <h2 class="text-center my-4 source-serif-heading testimonial-text fw-bolder">Testimonials</h2>
            <div class="row p-4">
                <swiper-container slides-per-view="2" space-between="30" autoplay="true" pagination="true" loop="true"
                    navigation="false">
                    <swiper-slide>
                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">User 1</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>

                                </div>
                            </div>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">User 2</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>

                                </div>
                            </div>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div>
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-title">User 3</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>

                                </div>
                            </div>
                        </div>
                    </swiper-slide>
                </swiper-container>



            </div>
        </div>
    </div>
    <div class="parallaxTwo"></div>
    <div class="container bg-white">
        <div class="row py-2">
            <swiper-container slides-per-view="3" space-between="5" autoplay="true" loop="true">
                <swiper-slide>
                    <div>
                        <img src="../../assets/images/cris-logo.png" alt="cris" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div>
                        <img src="../../assets/images/gst-indianraiways.png" alt="cris" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div>
                        <img src="../../assets/images/IndianRailway_logo.gif" alt="cris" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div>
                        <img src="../../assets/images/coms.jpg" alt="cris" />
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div>
                        <img src="../../assets/images/pg4.gif" alt="cris" />
                    </div>
                </swiper-slide>
            </swiper-container>

        </div>
    </div>