<div class="container" style="margin-top:290px;height:50vh">
    <div class="row g-1 justify-content-center">
        <h3 class="text-center">User Dashboard</h3>
        <!-- <div class="card  mx-3 shadow-lg col-sm-2 " style="height:150px;">
            <div class="card-body text-center courseBg">
                <button class=" btn btn-primary mt-5">Applied Course
                </button>
            </div>
        </div> -->
        <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center courseBg">
                <button class=" btn btn-primary mt-5">View Courses
                </button>
            </div>
        </div>
        <!-- <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center courseBg">
                <button class=" btn btn-primary mt-5">Hostel
                </button>
            </div>
        </div> -->
        <!-- <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center courseBg">
                <button class=" btn btn-primary mt-5">Books
                </button>
            </div>
        </div>
        <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center courseBg">
                <button class=" btn btn-primary mt-5">Vehicle
                </button>
            </div>
        </div> -->


    </div>
</div>