<div class="container" style="margin-top:190px;">
  <h1 class=" text-justify text-center mx-1 fw-bold source-serif-heading text-danger">Additional Director General </h1>
  <div class="text-justify text-center">
    <a href="../../assets/images/addl_dr_gn.jpg" class="mx-5 mb-1"> <img height="350px" width="350px"
      src="../../assets/images/addl_dr_gn.jpg" /></a>
            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://docs.google.com/document/d/e/2PACX-1vRo1IrzQxNVnNiFfyFw57zgL-UClToWVwnaAGtILW6LRHYEykAEqfnufZDld_CoZDjF2VAGvB5_sCAw/pub">
              Shri Sanjay Tripathi, IRTS</a>
            <p>Addl. Director General</p>
            <p>Email: sanjay.tripathi1167@gov.in</p>
  </div>
</div>