<div class="container" style="margin-top:290px">
    <p>&#x2022; <a routerLink="/central-railway" href="#">Central Railway</a></p>
    <p>&#x2022; <a routerLink="/dfccil-map" href="">DFCCIL Map</a></p>
    <p>&#x2022; <a routerLink="/east-central-railway" href="">East Central Railway</a></p>
    <p>&#x2022; <a routerLink="/east-coast-railway" href="">East Coast Railway</a></p>
    <p>&#x2022; <a routerLink="/eastern-railway" href="">Eastern Railway</a></p>
    <p>&#x2022; <a routerLink="/konkan-railway" href="">Konkan Railway</a></p>
    <p>&#x2022; <a routerLink="/kolkata-metro" href="">Kolkata Metro</a></p>
    <p>&#x2022; <a routerLink="/north-eastern-railway" href="">North Eastern Railway</a></p>
    <p>&#x2022; <a routerLink="/north-central-railway" href="">North Central Railway</a></p>
    <p>&#x2022; <a routerLink="/north-east-frontier-railway" href="">North East Frontier Railway</a></p>
    <p>&#x2022; <a routerLink="/north-western-railway" href="">North Western Railway</a></p>
    <p>&#x2022; <a routerLink="/northern-railway" href="">Northern Railway</a></p>
    <p>&#x2022; <a routerLink="/south-central-railway" href="">South Central Railway</a></p>
    <p>&#x2022; <a routerLink="/south-east-central-railway" href="">South East Central Railway</a></p>
    <p>&#x2022; <a routerLink="/south-eastern-railway" href="">South Eastern Railway</a></p>
    <p>&#x2022; <a routerLink="/south-western-railway" href="">South Western Railway</a></p>
    <p>&#x2022; <a routerLink="/southern-railway" href="">Southern Railway</a></p>
    <p>&#x2022; <a routerLink="/west-central-railway" href="">West Central Railway</a></p>
    <p>&#x2022; <a routerLink="/western-railway" href="">Western Railway</a></p>
    </div> 
