<div class="container" style="margin-top:290px">
    <p><span style="color:red">Reading Material for IRTS(P) Officers</span></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1399622808844-commercial-code.pdf">Commercial Code</a></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1399622623408-Comml_mnul_1.pdf">Commercial Manual Vol-I</a></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1399640926172-CM_CS_VOL_01.pdf">Commercial Manual Vol-I Correction Slips</a></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1399622677323-Comml_mnul_2.pdf">Commercial Manual Vol-II</a></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1399641074239-CM_CS_VOL_02.pdf">Commercial Manual Vol-II Correction Slips</a></p>
    <p>&#x2022; <a href="">Model Tender Document</a></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1411557528447-Model%20CATERING%20TENDER_Notice.pdf">Model CATERING TENDER</a></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1411555557364-Commercial_Policy_2010.pdf">Catering Policy 2010</a></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1411555607496-Comml_Pol_Followup_2010.pdf">Catering Policy 2010 Follow up</a></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1411555765321-comml_Pol_rev_2013.PDF">Revision of Menu / Tariff of catering services in Rajdhani/ Shatabdi/ Duronto</a></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1399628708487-Model%20Railway%20Budget.pdf">Railway Budget</a></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1399628753527-Model%20Agreement.pdf">Model Agreement</a></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1400128757890-Railway_Act.pdf">Railway Act, 1989</a></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1401958167450-D_A_Rules.pdf">D&AR rules</a></p>
    <p>&#x2022; <a href="https://iritmold.indianrailways.gov.in/uploads/files/1402375014377-Story_abt_checking.pdf">Ticket Checking Experience</a></p>
    </div>