<p>applied-courses works!</p>
<div class="container" style="margin-top: 190px;height: 150vh;">
  <div class="row">
      <h1 class="text-center my-2">Applied Course</h1>

      <table class="table border table-bordered mt-2 " style="width:100% ;">
          <thead class="table-primary">
              <tr class="source-serif-heading">
                  <th scope="col">S.No</th>
                  <th scope="col">Course Id</th>
                  <th scope="col">Course Name</th>
                  <th scope="col">Applied Date</th>
                  <th scope="col-1">User Id</th>
                  <th scope="col-1">Duration</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of ItemsArray; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ item.courseid }}</td>
                  <td>{{ item.coursename }}</td>
                  <td>{{ item.appileddate }}</td>
                  <td>{{ item.userid }}</td>
                  <td>{{ item.duration }}</td>
              </tr>
          </tbody>
      </table>

  </div>
</div>