<div class="container" style="margin-top:290px">
    <table border="1">
      <tr>
          
          
          <th> Name of the Course</th>
          <th> From</th>
          <th> To</th>
          <th> Course Director</th>
          <th> Course Associate</th>
      </tr>
      <tr>
          <td>           
            Combined Integrated Training Course (Operating and Commercial officers)</td>
          <td> 	
            19.01.15</td>
          <td> 	
            13.02.15</td>
          <td> Rajesh Kumar</td>
          <td>C.K. Bhattacharya</td>
      </tr>
      <tr>
        <td>            
            Workshop for Sr. DOMs, Sr. DCMs & Senior IRTS officers</td>
        <td>09.02.15</td>
        <td> 13.02.15</td>
        <td> 	
            Naresh Malhan</td>
        <td>Pradeep Padalia</td>
    </tr>
    <tr>
        <td>          
            Public Private Partnership for IRAS (P)</td>
        <td> 09.03.15</td>
        <td> 13.03.15</td>
        <td> Dr. Kalpana Dube</td>
        <td>Kishor Mehta</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484198398673-13042015_SDM.jpg">
            Safety & Disaster Management</a>
        <td> 13.04.15</td>
        <td> 17.04.15</td>
        <td> Dr. Veena K. Verma</td>
        <td>Ashwini Srivastava</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484198454446-11052015_SCM.jpg">
            Logistics & SCM</a>
        <td> 11.05.15</td>
        <td> 15.05.15</td>
        <td> N.N. Singh</td>
        <td>C.K. Bhattacharya</td>
    </tr>
    <tr>
        <td> <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritm.indianrailways.gov.in/uploads/files/1484198329762-18052015_Wrksp_Optg.JPG">
            Workshop-Sr.DOMs & Sr.DCMs</a>
        <td> 18.05.15</td>
        <td> 22.05.15</td>
        <td> Smt Ashima Singh</td>
        <td>Kishor Mehta</td>
    </tr>
    <tr>
        <td>            
            IRSEE (P) Appreciation Course</td>
        <td> 22.06.15</td>
        <td> 26.06.15</td>
        <td> N.N. Singh</td>
        <td>Ajab Singh</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritm.indianrailways.gov.in/uploads/files/1484198365800-26062015_IRPS_P_13.JPG">
            IRPS(P) Appreciation Course</a>
        <td> 29.06.15</td>
        <td> 03.07.15</td>
        <td> N.N. Singh</td>
        <td>Ajab Singh</td>
    </tr>
    <tr>
        <td>           
            RDSO Tunnel Mgmt</td>
        <td> 	
            13.07.15</td>
        <td> 	
            17.07.15</td>
        <td> ADG/RDSO</td>
        <td></td>
    </tr>
    <tr>
                  
        <td>Workshop-Sr.DOMs & Sr.DCMs</td>    
        <td>20.07.15</td>
        <td> 24.07.15</td>
        <td> Rajeev Gangal</td>
        <td>Kishor Mehta & Shri P.K. Gupta</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484198271121-12102015_IRSME_P_13.JPG">
            IRSME(P) Appreciation Course</a>
        <td>12.10.15</td>
        <td>26.10.15</td>
        <td> N.N. Singh</td>
        <td>	
            Ajab Singh</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484198229859-26102015_ITC.JPG">
            Combined Integrated Course</a>
        <td> 26.10.15</td>
        <td> 06.11.15</td>
        <td> N.N. Singh</td>
        <td>Mayank Jauhri</td>
    </tr>
    <tr>
        <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484197881477-23112015_SDM.JPG">
            Safety & Disaster Mgmt</a>          
          
        <td>23.11.15</td>
        <td> 27.11.15</td>
        <td> 	
            Dr. Veena K. Verma</td>
        <td>Ashwani Srivastava</td>
    </tr><tr>
        <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1484197826649-30112015_tendr_cntct.JPG">
            Tenders & Contracts</a>         
           
        <td>30.11.15</td>
        <td> 4.12.15</td>
        <td>Sanjay Tripathi</td>
        <td>S.K. Karn</td>
    </tr><tr>
                  
        <td>RDSO Tunnel Mgmt</td>    
        <td>07.12.15</td>
        <td> 11.12.15</td>
        <td> ADG/RDSO</td>
        <td></td>
    </tr>
    
  </table>
  </div>
  
  
  

