<div class="row">
    <h2 class="text-center my-4 source-serif-heading linear-text-gradient fw-bolder">Forthcoming Training Course </h2>
    <swiper-container slides-per-view="2" grab-cursor="true" space-between="15" loop="true" pagination="true" autoplay="true">
        <swiper-slide *ngFor="let courses of coursesData">
            <div class="card my-2">
                <div class="card-body">
                    <h6 *ngIf="false" class="text-center text-danger">Cancellation</h6>
                    <h5 class="card-title text-center my-2"> {{courses.courseName}} -{{courses.courseCode}} </h5>
                    <p class="card-text text-justify">{{courses.courseDesc}}</p>

                </div>
            </div>
        </swiper-slide>


    </swiper-container>
</div>