<div class="container" style="margin-top:290px">
    <p><b>Cases pertaining to Tenders & Contracts</b></p>
    <p><a href="https://iritmold.indianrailways.gov.in/instt/uploads/files/1436345308050-Maa%20Binda%20Express%20Carrier%20v.%20Northeast%20Frontier%20Railway.pdf">Maa Binda Express Carrier v. Northeast Frontier Railway</a></p>
    <p><a href="https://iritmold.indianrailways.gov.in/instt//uploads/files/1436961635314-IRCTC%20v.%20Doshion%20Veolia%20Water%20Solutions.pdf">IRCTC v. Doshion Veolia Water Solutions</a></p>
    </div>