<div class="container" style="margin-top:290px">
    <p><b>Codes and Manuals</b></p>
    <p><a href="https://indianrailways.gov.in/railwayboard/uploads/directorate/establishment/estcodevol1.jsp">Indian Railways Establishment Code - Vol 1</a></p>
    <p><a href="https://indianrailways.gov.in/railwayboard/uploads/directorate/establishment/estbl-main.jsp">Indian Railways Establishment Code - Vol 2</a></p>
    <p><a href="https://indianrailways.gov.in/railwayboard/uploads/directorate/establishment/estmanualmain.jsp">Indian Railways Establishment Manual - Vol 1</a></p>
    <p><a href="https://indianrailways.gov.in/railwayboard/uploads/directorate/establishment/estbl-man2-main.jsp">Indian Railways Establishment Manual - Vol 2</a></p>
    </div>