<div class="container" style="margin-top:290px">
  <table>
    <tr>
        
        <th class="quarter-width"></th>
        <th></th>
    </tr>
    <tr>
        
        <td>    <a href="../../assets/images/Shri_qazi_mirage.jpeg" > <img 
          src="../../assets/images/Shri_qazi_mirage.jpeg" /></a> </td>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://docs.google.com/document/d/e/2PACX-1vRZzGegWgij07S7un1QwFuQHfIkgILzLyBUUZ6IOh07w7QIBKKGvxcF8pcV2k_lkp9nAK5jY9715XA6/pub">
          Shri Qazi Mairaj Ahmad, IRSE</a>
        <p>Sr. Professor (Civil Engineering)</p>
        <p>Email: ahmad.qm@gov.in</p></td>
    </tr>
    <tr>
        
      <td>    <a href="../../assets/images/Shri_awdhesh_kumar.jpeg" > <img 
        src="../../assets/images/Shri_awdhesh_kumar.jpeg" /></a> </td>
      <td>            
        Shri Awdhesh Kumar, IRSS
      <p>Sr. Professor (Supply Chain Management)</p>
      <p>Email: awdheshkumar.91@gov.in</p></td>
  </tr>
  <tr>
        
    <td>    <a href="../../assets/images/Sujeet_mishra.jpg" > <img 
      src="../../assets/images/Sujeet_mishra.jpg" /></a> </td>
    <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://docs.google.com/document/d/e/2PACX-1vQSaXpBNhQ_l-Q74YNEN2t3z8r1eYmdQfxnK_eU_McroDiXIuoAcSyZB0qzCEw-xQqkRtjQ-UPW7Qri/pub">
      Dr. Sujeet Mishra, IRSEE</a>
    <p>	Dr. Sujeet Mishra, IRSEE
      Sr. Professor (Capacity Building & Standardization, Electrical Engineering)</p>
    <p>Email: mishra.sujeet@gov.in</p></td>
</tr>
<tr>
        
  <td>    <a href="../../assets/images/rita_raj.jpg" > <img 
    src="../../assets/images/rita_raj.jpg" /></a> </td>
  <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://docs.google.com/document/d/e/2PACX-1vRVYyYIJUeLbY-3mLfJdz1jt2ybrWvQ0nKj8WCC0hhNZDHbxnsoQi64wx_w08TAwW9splb8YwndrG9X/pub">
    Ms Rita Raj, IRTS</a>
  <p>Sr. Professor (Commercial & Business Development)</p>
  <p>Email: raj.rita@gov.in</p></td>
</tr>
<tr>
        
  <td>    <a href="../../assets/images/rajesh_kumar.jpeg" > <img 
    src="../../assets/images/rajesh_kumar.jpeg" /></a> </td>
  <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://docs.google.com/document/d/e/2PACX-1vT_X1950YLJ73fMP0Gn0Vi8XnDrwk-_qui3Y7cNCiQ1rkqdtTsL3Hc3M3VYZZlZMgvBabJLas87v-Il/pub">
    Shri Rajesh Kumar, IRTS</a>
  <p>Sr. Professor (Administration)</p>
  <p>Email: rajesh.umrao@gov.in</p></td>
</tr>
<tr>
        
  <td>    <a href="../../assets/images/somavanshi.png" > <img 
    src="../../assets/images/somavanshi.png" /></a> </td>
  <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://docs.google.com/document/d/e/2PACX-1vQBUyz3dom59RRvQZxBb8bdp9mYNrNAFdB0Tx5WlE3SK3tNj4Agk1p0_6wJQH0Aij6IvpJIvIlcFjAS/pub">
    Shri Shishir Somvanshi, IRTS</a>
  <p>Dean and Sr. Professor (Transport Management & IT Development) and Sr. Prof. (Traffic Operations & MPP)</p>
  <p>Email: shishir.somvanshi@gov.in</p></td>
</tr>
<tr>
        
  <td>    <a href="../../assets/images/gauravKrishna.jpeg" > <img 
    src="../../assets/images/gauravKrishna.jpeg" /></a> </td>
  <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://docs.google.com/document/d/e/2PACX-1vScLftgu0lPM0kpBMFnTK92c2fdrpeOsiKAIPYmwZZVb59AryedPq9EB_WV2BCbXC5Q8EMAt-y8G5Jd/pub">
    Shri Gaurav Krishna Bansal, IRTS</a>
  <p>Sr. Professor (Commercial Management)</p>
  <p>Email: gaurav.bansal@gov.in</p></td>
</tr>
<tr>
        
  <td>    <a href="../../assets/images/vikramaditya.png" > <img 
    src="../../assets/images/vikramaditya.png" /></a> </td>
  <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://docs.google.com/document/d/e/2PACX-1vSnsIuCNAU_Go6Y8K8Enz8Tl7H1cSMrSMNA8NoJTm6rP2vokiWng2C8hWdINNJPFr6TzvBLjCKzfLEB/pub">
    Shri N.B Vikramaditya, IRTS</a>
  <p>Professor (Traffic Planning & Costing )</p>
  <p>Email: vikrmaditya.17@gov.in</p></td>
</tr>
<tr>
        
  <td>    <a href="../../assets/images/neha.jpg" > <img 
    src="../../assets/images/neha.jpg" /></a> </td>
  <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://docs.google.com/document/d/e/2PACX-1vRXZr8cjyS4EZNl7NWvx6WbnMDY17WpmmMfJJ5-OjVYQ542PsNtV_6ut70A9xa2vTPqyAcdmCWAyWsQ/pub">
    Mrs. Neha Ratnakar, IRTS</a>
  <p>Professor (Commercial, Training & Vigilance)</p>
  <p>Email: neha.ratnakar@gov.in</p></td>
</tr>
<tr>
        
  <td>    <a href="../../assets/images/krishna.jpeg" > <img 
    src="../../assets/images/krishna.jpeg" /></a> </td>
  <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://docs.google.com/document/d/e/2PACX-1vSiHr9fmEVrJbSC5JFYnIvCD6YPkGpVkKaLEfNJ38aaVl0pJkTug5GhFSHZzbcmbgMMgcSplEI6IU5b/pub">
    Ms. Krishna Tiwari, IRTS</a>
  <p>OSD to DG & Professor (Administration)</p>
  <p>Email: krishna.tiwari07@gov.in</p></td>
</tr>

<tr>
        
  <td>    <a href="../../assets/images/krishnanKant.png" > <img width="150px"
    src="../../assets/images/krishnanKant.png" /></a> </td>
  <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://docs.google.com/document/d/e/2PACX-1vR6CfEwlKQNvBv5pDTyRk3j6A11u_70haE8VOfzrTCMT9hoqQfDuyt8c294U6Hwo2NEbVQ5oCyNcOGg/pub">
    	
Shri Krishan Kant Rora, IRTS</a>
  <p>Professor (Logistics & Supply Chain Management)</p>
</tr>
</table>
</div>


