<div class="container" style="margin-top:290px;height:50vh">
    <div class="row g-1 justify-content-center">
        <!-- <div class="card  mx-3 shadow-lg col-sm-2 " style="height:150px;">
            <div class="card-body text-center courseBg">
             
                <div class="col-sm-1"><button (click)=" viewCourse() " class=" btn btn-primary mt-1">View Course
                </button></div>
            </div>
        </div> -->
        <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center courseBg">
                <button (click)=" viewCourse() " class=" btn btn-primary mt-5">Course
                </button>
            </div>
        </div>
       
        <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center courseBg">
                <button (click)="ViewCoordinator()" class=" btn btn-primary mt-5">Coordinator
                </button>
            </div>
        </div>
         <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center courseBg">
                <button (click)="HostelRequestHandler() " class=" btn btn-primary mt-5">Hostel Requests
                </button>
            </div>
        </div>
        <div class="card mx-3 shadow-lg col-sm-2" style="height:150px;">
            <div class="card-body text-center courseBg">
                <button (click)="VehicleRequestHandler() " class=" btn btn-primary mt-5">Vehicle Requests
                </button>
            </div>
        </div>
    </div>
</div>



