<div class="container" style="margin-top:190px">
    <div class="row justify-content-center">
        <div class="card my-2 col-sm-2 mx-1">
            <div class="card-body">
                <h5 class="card-title text-center">asd </h5>
                <p class="card-text">dsa</p>

            </div>
        </div>
        <div class="card my-2 col-sm-2 mx-1">
            <div class="card-body">
                <h5 class="card-title text-center">asd </h5>
                <p class="card-text">dsa</p>

            </div>
        </div>
        <div class="card my-2 col-sm-2 mx-1">
            <div class="card-body">
                <h5 class="card-title text-center">asd </h5>
                <p class="card-text">dsa</p>

            </div>
        </div>
        <div class="card my-2 col-sm-2 mx-1">
            <div class="card-body">
                <h5 class="card-title text-center">asd </h5>
                <p class="card-text">dsa</p>

            </div>
        </div>
        <div class="card my-2 col-sm-2 mx-1">
            <div class="card-body">
                <h5 class="card-title text-center">asd </h5>
                <p class="card-text">dsa</p>

            </div>
        </div>
    </div>
</div>