<div class="container" style="margin-top:290px">
    <p><a href="">Coaching Tariff No. 26 Part 1 Volume II</a></p>
    <p><a href="">Coaching Tariff No. 26 Part 2</a></p>
    <p><a href="">Goods Tariff No. 41 Part 1 Volume I</a></p>
    <p><a href="">Goods Tariff No. 49 Part 1 (Vol. II) and Goods Tariff No. 49 Part 2</a></p>
    <p><a href="">Red Tariff No. 20 (English)</a></p>
    <p><a href="">Red Tariff No. 20 (Hindi)</a></p>
    <p><a href="">Link of Railways Red Tariff</a></p>
    <p><a href="">Link for Military Tariff</a></p>
    </div>