<div class="container" style="margin-top:290px">
    <p><a href="https://iritmold.indianrailways.gov.in/instt//uploads/files/1639480480326-1449739458979-TENDERSANDCONTRACTS%20-FINAL.pdf">TENDERS & CONTRACT By Sanjay Tripathi</a></p>
    <p><a href="https://iritmold.indianrailways.gov.in/instt//uploads/files/1639480294431-1449739553725-TENDERSANDCONTRACTS.pdf">TENDERS AND CONTRACTS By N.N SINGH</a></p>
    <p><a href="https://iritmold.indianrailways.gov.in/instt//uploads/files/1639480327943-1449739639952-Public%20Tender%20system%20-%20fundamantals.pdf">PUBLIC TENDER SYSTEM - FUNDAMENTALS</a></p>
    <p><a href="https://iritmold.indianrailways.gov.in/instt//uploads/files/1639480365936-1449740332688-CONTRACT%20MANAGEMENT%20iritm%20dec15.pdf">CONTRACT MANAGEMENT By RP Saxena</a></p>
    <p><a href="https://iritmold.indianrailways.gov.in/instt//uploads/files/1639480423523-1449739745509-contract-management-IRITM.pdf">CONTRACT MANAGEMENT By RP Saxena</a></p>
    </div>