<p>applied-courses works!</p>
<div class="container" style="margin-top: 190px;height: 150vh;">
  <div class="row">
      <h1 class="text-center my-2">Applied Course</h1>

      <table class="table border table-bordered mt-2 " style="width:100% ;">
          <thead class="table-primary">
              <tr class="source-serif-heading">
                  <th scope="col">S.No</th>
                  <th scope="col">Course Code</th>
                  <th scope="col">Course Name</th>
                  <th scope="col">Applied Date</th>
                  <th scope="col-1">User Id</th>
                  <th scope="col-1">Duration</th>
                  <th scope="col-1">Status</th>
                  <th scope="col-1">Coordinator Message</th>
                  <th scope="col-1">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let appliescourse of coordinatorcourses; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ appliescourse.coursecode }}</td>
                  <td>{{ appliescourse.coursename }}</td>
                  <td>{{ appliescourse.appileddate }}</td>
                  <td>{{ appliescourse.userid }}</td>
                  <td>{{ appliescourse.duration }}</td>
                  <td>{{ appliescourse.status }}</td>
                  <td>{{ appliescourse.coordinatorMsg }}</td> 
                  <td>
                    <button (click)="EditCoordinatorHandler()" class="btn btn-success">Edit</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>