<div class="container" style="margin-top:290px">
    <table border="1">
      <tr>
          
          
          <th> Name of the Course</th>
          <th> Duration</th>
          <th> Course Director</th>
          <th> Course Associate</th>
      </tr>
      <tr>
          <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1449222539229-SDM_30042012.JPG">
            Safety & Disaster Management</a>
          <td> 30.04.2012 to 04.05.2012</td>
          <td> Dr.Veena K Verma, Professor (DM)</td>
          <td> Ashwini Srivastava</td>
      </tr>
      <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1449222566692-App_IRSEE_2010.JPG">
            Appreciation course for IRSEE (P) 2010</a>
        <td>27.08.2012 to 31.08.2012</td>
        <td> Rajesh Kumar, Professor (Admin)</td>
        <td> Ajab Singh</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1449222627184-Tender_03092012.jpg">
            Traffic Tenders & Contracts</a>
        <td>03.09.2012 to 07.09.2012</td>
        <td>A. P. Singh, Dean</td>
        <td> Chandan Bhattcharjee</td>
    </tr>
    <tr>
        <td>            <a style="color: blue;" target="_blank" rel="noopener" class="dropdown-item" href="https://iritmold.indianrailways.gov.in/uploads/files/1449222669465-App_NIFM_03092012.jpg">
            Appreciation course for NIFM (Probationers)</a>
        <td>03.09.2012 to 07.09.2012</td>
        <td>Rajesh Kumar, Professor (Admin)</td>
        <td>Ajab Singh</td>
    </tr>

  </table>
  </div>
  
  
  
